body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f9fa;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 60px;
    cursor: pointer;
    transition: opacity .3s;
}

.logo img:hover {
    opacity: 0.85;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: #333;
    transition: 0.3s ease;
}

.navbar a:hover {
    color: #00A7B3;
}

.nav-buttons button {
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
    transition: opacity .3s;
}

.btn-login {
    background: #f99f1c;
}

.btn-register {
    background: #00A7B3;
}

.nav-buttons button:hover {
    opacity: .85;
}


.map-section {
    max-width: 900px;
    margin: 3rem auto;
    padding: 1rem;
    text-align: center;
}

.map-section h1 {
    color: #007c91;
}

#map {
    width: 100%;
    height: 500px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    border: 2px solid #b2ebf2;
    margin-top: 20px;
}


footer {
    text-align: center;
    padding: 1.5rem;
    background-color: #E6F7F8;
    color: #555;
    margin-top: 3rem;
}


/* para que sea responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 10px;
        padding: 15px;
    }

    .navbar ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    #map {
        height: 350px;
    }
}
